In [1]:
import pandas as pd   
import numpy as np

In [2]:
#Write a Pandas program to implement following operation
#â€¢to convert a NumPy array to a Pandas series

# Developed By: Prakash Barad 
# Enrollement No: 216270307040

a=np.array([10,20,30])
print("NumPy Array:",a)
print()
s=pd.Series(a,index=["a","b","c"])
print("Series:\n",s)

NumPy Array: [10 20 30]

Series:
 a    10
b    20
c    30
dtype: int64

In [3]:
#Write a Pandas program to implement following operation
#to convert the first column of a DataFrame as a Series

# Developed By: Prakash Barad 
# Enrollement No: 216270307040

d=pd.DataFrame({"name":["ghanshyam","harsh","yash"],"eno":[72,73,74]})
print("DataFrame:\n",d)
print()
s=pd.Series(d.name)
print("Series:\n",s)

DataFrame:
         name  eno
0  ghanshyam   72
1      harsh   73
2       yash   74

Series:
 0    ghanshyam
1        harsh
2         yash
Name: name, dtype: object

In [4]:
# Write a Pandas program to implement following operation
# to create the mean and standard deviation of the data of a given Series

# Developed By: Prakash Barad 
# Enrollement No: 216270307040

s=pd.Series([10,40,20,30,40,50,2,np.nan],index=["a","b","c","d","e","f","g","h"])
print(s)

print("Mean:",s.mean())
print("Std:",s.std())

a    10.0
b    40.0
c    20.0
d    30.0
e    40.0
f    50.0
g     2.0
h     NaN
dtype: float64
Mean: 27.428571428571427
Std: 17.50102037841549

In [5]:
# write a Pandas program to implement following operation
# to sort a given Series

# Developed By: Prakash Barad 
# Enrollement No: 216270307040

s=pd.Series([2,4,3,2,5,4,9,6,7,3,0])
print("Original:\n",s)
print()
print("Sorted:\n",s.sort_values())

Original:
 0     2
1     4
2     3
3     2
4     5
5     4
6     9
7     6
8     7
9     3
10    0
dtype: int64

Sorted:
 10    0
0     2
3     2
2     3
9     3
1     4
5     4
4     5
7     6
8     7
6     9
dtype: int64